.gradient {
    background: -webkit-linear-gradient(right, #FDD44B, #F13E86, #F3619C, #F89BC0, #c64aff, #7474FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*FAQ CSS*/
.FAQtitle {
    padding: 20px 20px 8px 20px;
}

.gradient {
    background: -webkit-linear-gradient(right, #FDD44B, #F13E86, #F3619C, #F89BC0, #c64aff, #7474FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FAQ {
    margin-left: 5%;
    margin-right: 5%;
}

.quegroup h4 {
    font-size: 34px;
}

.quegroup p {
    font-size: 16px;
}

.faq-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.faq-box h4{
    font-size: 36px;
}

.left-que{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 10px;
}

.right-que{
    display: flex;
    justify-content: flex-end;
}

.content-right {
    margin-top: 10px;
    border: 8px solid transparent;
    border-image: linear-gradient(to bottom right, var(--base) 40%, #9D33B1 );
    border-image-slice: 1;
    align-self: flex-start;
    padding: 15px;
    background-color: var(--base);
    display: flex;
}

.content-left {
    margin-top: 10px;
    border: 8px solid transparent;
    border-image: linear-gradient(to top left, var(--base) 40%, #fdbb2d );
    border-image-slice: 1;
    align-self: flex-start;
    padding: 15px;
    background-color: var(--base);
    margin-top:-10px ;
}

.showbox {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40%;
    width: 200px;
    height: 50px;
    border: 3px solid;
    border-color: #FDD44B;
    padding: 5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* FAQ CSS End*/

/* Timeline CSS */
.square {
    grid-template-columns: 10fr 12fr;
}

.square .timeline {
    display: grid;
    grid-template-columns: 12fr 10fr;
    margin-bottom: 30px;
}

.timeline img{
    width: 100%;
}

.timeline h2{
    display: flex;
    justify-content: center;
}

.tl-line img {
    height: 100%;
}

.tl-line-container {
    /* padding: 0 10vw; */
    /* margin-top: -30px; */
    display: flex;
    flex-direction: column;
}

.tl-line {
    margin-top: -70px;
    width: 95%;
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    gap: 70px;
}

.tl-line .content {
    display: flex;
    justify-content: center;
}

.tl-line h3 {
    line-height: unset;
    font-size: 24px;
}

.tl-line.right {
    align-self: flex-end;
    text-align: left;
}

.tl-line.left {
    align-self: flex-start;
    text-align: right;
}

.tl-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tl-desc.right {
    align-items: flex-start;
}

.tl-desc.right p {
    text-align: left;
}

.tl-desc.left {
    align-items: flex-end;
}

.tl-desc.left p {
    text-align: right;
}
/* Timeline CSS End */

/*Box Sponsor dan Medpar CSS*/
.bintang img{
    width: 100%;
}

.title h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0px;
}
/*Box Sponsor dan Medpar CSS End*/

/* CONTACT US */
.user-card {
    margin-bottom: 1rem;
}

.user-card h6 {
    font-size: 16px;
}

.user-card h3,
.user-card h6 {
    text-align: center;
    color: white;
    font-family: 'Poppins';
}

/* Mobile */
@media screen and (max-width: 768px) {
    .tl-line-container {
        padding: 0 0.5rem;
    }

    .faq-box h3,
    .tl-line-container h3 {
        font-size: 16px;
    }

    .tl-line {
        gap:0;
    }

    .tl-line img {
        height: 75%;
    }

    .tl-line .content {
        width: fit-content;
    }
}
